<IfModule mod_rewrite.c>
  RewriteEngine On

  # Página de contato
  RewriteRule ^([a-z0-9-]+)/?$ index.php?$1 [NC,L]
</IfModule>

# Pega o que o usuário digitou, monta a url e manda para o servidor trabalhar.