
body {
  background-color:rgba(var(--b3f,250,250,250),1);
}

/*INÍCIO HEADER*/
header {height: 10vh;}

header nav {
  background-color: #fff;
  border: 1px solid rgba(0,0,0, 0.4);
  box-shadow: -2px -2px 10px;
  color: black;
}

header a {color: black;}

.btn-signup :hover {
  color: darkviolet;
  font-weight: bold;
}
/*FIM HEADER*/

/*INÍCIO SIGN IN*/
.signIn-image {
  margin-top: 8vh;
  width: 90%;
  max-height: 80vh;
}

.form-container {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 8vh;
  padding: 5vh 0;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  background-color: #fff;
}

.form-signin {
  display:flex;
  flex-direction: column;
}

.signUp-container {
  display:flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  background-color: #fff;
  padding: 2vh 0;
}

.signUp-container p {
  margin-bottom:0;
  margin-right:10px;
}

.signUp-container a {font-weight: bold;}
/*FIM SIGN IN*/



.board{
  background: #fff;
  height: 90vh;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

.float-button{
  color: black;
  border: 1px solid black;
  border-radius: 980px;
  font-size: 40px;
  position: fixed;
  bottom: 20px;
  right: 0;
  margin-right: 20%;
  width: 50px;
  text-align: center;
  height: 50px;
  line-height: 44px;
}

.float-button:hover{
  color: palevioletred;
  text-decoration: none;
}

.float-button:active{
  color:#fff;
  background-color: palevioletred;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition: 0.3s;
}

#cardimg {max-width: 100%;}